<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Crear</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-area="Admin" asp-controller="Categorias" asp-action="Index" class="btn btn-danger form-control">Volver</a>  
    </div>
</div>
